$color-true: #FFFFFF;
$color-rare: #1CF1FF;
$color-epic: #EA70FD;
$color-legeng: #F8D49C;

$color-excellent: #43AF01;
$color-danger: #FB3856;

$color-main: #07161f;
$color-main-bg: #06141C;
$color-main-border: #20313A;

$color-gray: #7B9BAC;

$color-gradient-gold: linear-gradient(246.26deg, #FFF38B 13.13%, #FFE600 59.92%, #FE6B00 105.41%);