.contentContainer {
  margin: 0 0 3em;
  position: relative;
  top: 68px;
  @media (max-width: 600px) {
    margin-bottom: 5.1em;
  }
  @media (max-width: 500px) {
    margin-bottom: 4.5em;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-inline: 10%;
    margin: 0 auto;
    padding-top: 4%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    @media (max-width: 800px) {
      flex-direction: column;
      width: 100%;
      padding-inline: 0%;
    }
    @media (max-width: 600px) {
      margin-top: 8%;
      background-position: 40% 100px;
    }
    @media (max-width: 380px) {
      background-position: 40% 120px;
    }
    .lights{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 140%;
      left: -15%;
      margin-top: -40%;
      @media (max-width: 1440px) {
        width: 130vw;
        left: -15vw;
      }
      @media (max-width: 800px) {
        margin-top: -20%;
        width: 120%;
        left: 0%;
        filter: blur(0px);
        justify-content: flex-end;
      }
      .light{
        width: 521px;
        height: 521px;
        @media (max-width: 1440px) {
          width: 30vw;
          height: 30vw;
        }
        opacity: 0.5;
        background: #23DA98;
        filter: blur(100px);
        transform: rotate(-180deg);
        border-radius: 50%;
        // -webkit-filter: blur(random(20)*3px + 10px);
        // filter: blur(random(20)*3px + 10px);
        // backdrop-filter: blur(random(20)*3px + 10px); 
        z-index: 0;
        @media (max-width: 800px) {
            width: 300px;
            height: 300px;                    
            filter: blur(70px);
            opacity: 0.6;
          }
        // @media (max-width: 500px) {
        //     width: 120px;
        //     height: 120px;                    
        // }
        &:first-child{
          margin-top: 30%;
          @media (max-width: 800px) {
            display: none;
          }
        }
      }
    }
    .particlesAnime{
      position: absolute;
      top: 2%;
      left: 0;
      width: 100%;
      img{
        position: absolute;
        transition: all 1s;
        @media (max-width: 600px) {
          width: 2%;
        }
      }
      .blueParticles{
        margin-top: 14%;
        margin-left: -2%;
        @media (max-width: 800px) {
          position: absolute;
          width: 100%;
          margin-top: -8%;
          margin-left: 16%;
        }
        @media (max-width: 400px) {
          width: 180%;
        }
        img{
          animation: linear infinite;
          animation-delay: 0s;
          @media (max-width: 600px) {
            width: 4%;
          }
          &:nth-child(1){
            margin-top: 0%;
            margin-left: 4%;
            animation-name: blueBar;
            animation-duration: 11s;
            @keyframes blueBar {
              0%  {transform: translateY(15%); opacity: 0;}
              50% {transform: translateY(2%); opacity: 1;}
              100% {transform: translateY(0%); opacity: 0;}
            }
            @media (max-width: 800px) {
              margin-left: 0%;
            }
          }
          &:nth-child(2){
            margin-top: 28.4%;
            margin-left: 10%;
            animation-name: blueBar1;
            animation-duration: 8s;
            @keyframes blueBar1 {
              0%  {transform: translateY(100%); opacity: 0;}
              50% {transform: translateY(52.4%); opacity: 1;}
              100% {transform: translateY(18.4%); opacity: 0;}
            }            
            @media (max-width: 800px) {
              margin-top: 22.4%;
              margin-left: 40%;
              @keyframes blueBar1 {
                0%  {transform: translateY(98.4%); opacity: 0;}
                50% {transform: translateY(44.4%); opacity: 1;}
                100% {transform: translateY(0.4%); opacity: 0;}
              }                
            }
          } 
          &:nth-child(3){
            margin-top: 26.4%;
            margin-left: 12.4%;
            animation-name: blueBar2;
            animation-duration: 8s;
            @keyframes blueBar2 {
              0%  {transform: translateY(108.4%); opacity: 0;}
              50% {transform: translateY(42.4%); opacity: 1;}
              100% {transform: translateY(2.4%); opacity: 0;}
            }               
            @media (max-width: 800px) {
              margin-left: 54%;
            }
          }      
          &:nth-child(4){
            margin-top: -1%;
            margin-left: 11%;
            animation-name: blueBar3;
            animation-duration: 14s;
            @keyframes blueBar3 {
              0%  {transform: translateY(114.4%); opacity: 0;}
              50% {transform: translateY(62.4%); opacity: 1;}
              100% {transform: translateY(-1%); opacity: 0;}
            }             
          }        
          &:nth-child(5){
            margin-top: 2%;
            margin-left: 12.4%;
            animation-name: blueBar4;
            animation-duration: 8s;
            @keyframes blueBar4 {
              0%  {transform: translateY(112.4%); opacity: 0;}
              50% {transform: translateY(86.4%); opacity: 1;}
              100% {transform: translateY(2.4%); opacity: 0;}
            }             
          }                              
        }
      }
      .greenParticles{
        margin-left: 79%;
        margin-top: -14%;
        @media (max-width: 800px) {
          position: absolute;
          width: 200%;
          margin-top: 40%;
          margin-left: 0%;
        }
        @media (max-width: 600px) {
          margin-top: 280px;
        }        
        @media (max-width: 500px) {
          margin-top: 320px;
        }    
        @media (max-width: 400px) {
          margin-top: 380px;
        }                  
        img{
          animation: linear infinite;
          animation-delay: 0s;
          &:nth-child(1){
            margin-top: 7%;
            margin-left: 10%;
            animation-name: greenBar;
            animation-duration: 11s;
            @keyframes greenBar {
              0%  {transform: translateY(115%); opacity: 0;}
              50% {transform: translateY(50%); opacity: 1;}
              100% {transform: translateY(7%); opacity: 0;}
            }
          }
          &:nth-child(2){
            margin-left: 19%;
            animation-name: greenBar1;
            animation-duration: 14s;
            @keyframes greenBar1 {
              0%  {transform: translateY(131%); opacity: 0;}
              50% {transform: translateY(82%); opacity: 1;}
              100% {transform: translateY(0%); opacity: 0;}
            }
          } 
          &:nth-child(3){
            margin-top: 28.4%;
            margin-left: 18.4%;
            animation-name: greenBar2;
            animation-duration: 8s;
            @keyframes greenBar2 {
              0%  {transform: translateY(135.4%); opacity: 0;}
              50% {transform: translateY(60.4%); opacity: 1;}
              100% {transform: translateY(8.4%); opacity: 0;}
            }
          }                    
        }
      }
      .adaptGreenParticles{
        position: relative;
        margin-left: 0%;
        width: 80%;
        margin: 0 auto;
        @media (max-width: 500px) {
          width: 100%;
        }
        img{
          animation: linear infinite;
          animation-delay: 0s;
          width: 5%;
          &:nth-child(6){
            margin-top: 28%;
            margin-left: 84%;
            animation-name: greenBar;
            animation-duration: 11s;
            @keyframes greenBar {
              0%  {transform: translateY(85%); opacity: 0;}
              50% {transform: translateY(40%); opacity: 1;}
              100% {transform: translateY(7%); opacity: 0;}
            }
          }
          &:nth-child(2){
            margin-left: 12%;
            animation-name: greenBar1;
            animation-duration: 14s;
            @keyframes greenBar1 {
              0%  {transform: translateY(81%); opacity: 0;}
              50% {transform: translateY(42%); opacity: 1;}
              100% {transform: translateY(0%); opacity: 0;}
            }
          } 
          &:nth-child(3){
            margin-top: 0.4%;
            margin-left: 82.4%;
            animation-name: greenBar2;
            animation-duration: 8s;
            @keyframes greenBar2 {
              0%  {transform: translateY(135.4%); opacity: 0;}
              50% {transform: translateY(60.4%); opacity: 1;}
              100% {transform: translateY(8.4%); opacity: 0;}
            }
          } 
          &:nth-child(4){
            margin-top: 37%;
            margin-left: 10%;
            animation-name: greenBar;
            animation-duration: 11s;
            @keyframes greenBar {
              0%  {transform: translateY(115%); opacity: 0;}
              50% {transform: translateY(50%); opacity: 1;}
              100% {transform: translateY(7%); opacity: 0;}
            }
          }        
          &:nth-child(5){
            margin-top: 27%;
            margin-left: 88%;
            animation-name: greenBar;
            animation-duration: 11s;
            @keyframes greenBar {
              0%  {transform: translateY(115%); opacity: 0;}
              50% {transform: translateY(50%); opacity: 1;}
              100% {transform: translateY(7%); opacity: 0;}
            }
          }                                
          &:nth-child(1){
            margin-top: 30%;
            margin-left: 4%;
            animation-name: greenBar;
            animation-duration: 11s;
            @keyframes greenBar {
              0%  {transform: translateY(115%); opacity: 0;}
              50% {transform: translateY(50%); opacity: 1;}
              100% {transform: translateY(7%); opacity: 0;}
            }
          }    
          &:nth-child(7){
            margin-top: 7%;
            margin-left: 94%;
            animation-name: greenBar;
            animation-duration: 11s;
            @keyframes greenBar {
              0%  {transform: translateY(115%); opacity: 0;}
              50% {transform: translateY(50%); opacity: 1;}
              100% {transform: translateY(7%); opacity: 0;}
            }
          }                   
        }        
      }
    }
    .info {
      width: 60%;
      z-index: 9999;
      @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      .battle_shrooms{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin-left: 3em;
        @media (max-width: 800px) {
          margin-left: 0em;
        }
        h4{
          font-family: Dela Gothic One;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          text-align: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          background: linear-gradient(135deg, #fff 25%,#FFF6A0 45%,#F0AC5C 75%, #5F3505 90%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;   
          margin: 0.5em 0;       
        }
      }  
    }
    .threeD {
      width: 44%;
      margin-top: 8em;
      margin-left: -8em;
      @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
        width: 90%;
        margin-left: 0em;
      }
      @media (max-width: 600px) {
      }
      img {
        margin-top: -6.4%;
        width: 100%;
        z-index: 9999;
      }
      video {
        position: relative;
        width: 120%;
        z-index: -9999;
        margin: -30.4% 0 -18% -8%;
        @media (max-width: 800px) {
          width: 90%;
          margin: -20% 0 -12% 0%;
        }
      }
      .particles {
        position: absolute;
        top: 15%;
        z-index: 9999;
        background-repeat: no-repeat;
        background-size: cover;
        width: 35%;
        height: 18%;
        max-width: 500px;
        @media (max-width: 800px) {
          top: 50%;
          width: 95%;
        }
        @media (max-width: 600px) {
          width: 75%;
          left: 10%;
          background-position: center;
        }
      }
    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 3.2%;
    @media (max-width: 800px) {
      margin-left: 5%;
    }
    @media (max-width: 600px) {
      margin-top: 8.2%;
      margin-bottom: -6%;
    }
    a {
      display: flex;
      justify-content: center;
      background: #241F45;
      border-radius: 16px;
      padding: 0.7em;
      margin-right: 1em;
      -webkit-transition: background-color 200ms linear;
      -ms-transition: background-color 200ms linear;
      transition: background-color 200ms linear;
      @media (max-width: 800px) {
        padding: 0.6em;
        margin-right: 0.8em;
      }
      img {
        width: 22px;
        height: 20px;
        background: none !important;
        pointer-events: none;
      }
    }
  }
  .links {
    display: flex;
    margin: 5em 0;
    @media (max-width: 800px) {
      margin: 1.4em 0 1.8em;
      width: 100%;
    }
    a {
      border-radius: 14px;
      color: white;
      text-decoration: none;
      padding: 2% 15%;
      font-family: Dela Gothic One;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      transition: all 0.2s;
      background: rgba(0, 255, 163, 0.1);
      border: 2px solid #00ffa3;
      @media (max-width: 500px) {
        padding: 2.8% 41.5%;
      }
      @media (max-width: 420px) {
        padding: 2.8% 40%;
      }
      &:hover {
        background: #00ffa3;
      }
    }
  }   
  h2{
    font-family: Dela Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 47px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    span{
      color: #00FFA3;
    }
    @media (max-width: 1024px) {
      font-size: 40px;
      line-height: 42px;
    }
    @media (max-width: 800px) {
      font-size: 36px;
      line-height: 38px;
    }        
    @media (max-width: 600px) {
      font-size: 34px;
    }
    @media (max-width: 410px) {
      font-size: 29px;
    }
  }     
}
