.playContainer {
  background-image: url("../assets/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: calc(100vh - 80px);;
  max-width:100%;

  display: flex;
  justify-content: center;
  align-items: center;
  .connectWalletContainer {
    border-radius: 12px;
    background-color: #13222a;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    padding: 1.6%;
    min-width: 200px;
  }
  .connectWallet {
    background: linear-gradient(120deg, #6331c9 26.01%, #240c4a 100%);
    border: none;
    padding: 3% 0;
    width: 100%;
    border-radius: 12px;
    font-size: 24px;
    font-family: "Changa One", cursive;
    color: white;
    cursor: pointer;
    @media (max-width: 800px) {
      font-size: 18px;
    }
  }
  .login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
      width: 100%;
      background-color: #07161f;
      border: none;
      border-radius: 8px;
      padding: 4.5% 24%;
      font-size: 18px;
      color: white;
      font-family: "Changa One";
      font-style: italic;
      font-weight: normal;
      outline: none;
      &:focus {
        border: 2px solid #5416d6;
        margin: -2px -2px;
        overflow: hidden;
      }
      @media (max-width: 800px) {
        font-size: 14px;
      }
      &:first-child{
        margin-bottom: 4%;
      }
    }
    button{
      display: flex;
      background: linear-gradient(140deg, #6534ce 8.91%, #3c1182 90.52%);color: white;
      border: none;
      margin-top: 6%;
      margin-bottom: -4%;
      padding: 2.35%;
      width: 68%;
      font-size: 22px;
      line-height: 22px;
      border-radius: 10px;
      font-family: "Changa One";
      font-style: italic;
      cursor: pointer;
      align-items: center;
      justify-content: center;
    }
  }
}
