html {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
}
body {
  margin: 0;
  background-color: #07161f;
  min-height: 100vh;
  font-family: Changa One;
  font-weight: normal;
}
iframe{
  display: none !important;
}